
.pt-navbar {
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

/* body, .pt-card, .no-overflow{
  overflow: hidden;
} */

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
select,
button,
.react-selectize,
/* .react-selectize-control,
.react-selectize-search-field-and-selected-values,
.react-selectize-reset-button-container,
.react-selectize-toggle-button-container, */
textarea {
	-webkit-app-region: no-drag;
}

/* .tooltip-fix.pt-transition-container{
  margin-top: inherit;
  margin-left: -18px;
} */

.profile-input{
  min-width: 200px;
  padding-left: 10px;
}

.pt-navbar .pt-navbar-group .pt-button .pt-icon-standard{
  margin-right: 0;
}

.tooltip-fix {
  width: 13px!important;
}

.pt-tether-element-attached-top.pt-tether-target-attached-bottom > .pt-popover.dropdown-adjust {
  margin-top: 5px!important;
}

.root {
  min-height: 100vh;
}

.root.pt-dark {
  background-color: #293742;
}

.pt-form-group.pt-inline .pt-form-content,
.pt-form-group.pt-inline .pt-form-content .pt-input-group {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pt-form-group.pt-inline.formgroup-no-label label.pt-label {
  margin: 0;
}

.pt-dark .pt-select.pt-minimal select.select-as-h5 {
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
  font-size: 17px;
  color: rgb(61, 204, 145);
}

.pt-dark .pt-select.pt-minimal select.select-as-h5.select-margin {
  margin: 0 10px;
  padding: 0 10px;
}